In [6]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

In [8]:
# csv to dataframe
df_Andhra_bus=pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\redbus.project\df_AP_bus.csv")
df_Kerala_bus=pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\redbus.project\df_Kerala_bus.csv")
df_Telangana_bus=pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\redbus.project\df_Telangana_bus.csv")
df_Rajasthan_bus=pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\redbus.project\df_Rajasthan_bus.csv")
df_Himachal_bus=pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\redbus.project\df_HP_bus.csv")
df_UP_bus=pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\redbus.project\df_UP_bus.csv")
df_Assam_bus=pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\redbus.project\df_Assam_bus.csv")
df_Punjab_bus=pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\redbus.project\df_Punjab_bus.csv")
df_Kadamba_bus=pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\redbus.project\df_buses_Kadamba.csv")
df_SB_bus=pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\redbus.project\df_buses_SB.csv")

FinalRedBus_df=pd.concat([df_Andhra_bus,df_Kerala_bus,df_Telangana_bus,df_Rajasthan_bus,df_Himachal_bus,df_UP_bus,
                    df_Assam_bus,df_Punjab_bus,df_Kadamba_bus,df_SB_bus],ignore_index=True)
FinalRedBus_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,APSRTC - 9048,Express(Non AC Seater),04:15,08:40,04h 25m,INR 186,45 Seats available,4.2\n65,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Chittoor (Andhra Pradesh)
1,APSRTC - 47021,Express(Non AC Seater),04:30,09:30,05h 00m,INR 186,44 Seats available,4.3\n32,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Chittoor (Andhra Pradesh)
2,APSRTC - 9050,Express(Non AC Seater),04:30,09:00,04h 30m,INR 186,40 Seats available,4.4\n96,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Chittoor (Andhra Pradesh)
3,APSRTC - 47023,Express(Non AC Seater),05:15,10:30,05h 15m,INR 217,45 Seats available,2.6\n7,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Chittoor (Andhra Pradesh)
4,APSRTC - 9042,Express(Non AC Seater),06:45,11:10,04h 25m,INR 186,43 Seats available,4.2\n69,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Chittoor (Andhra Pradesh)
...,...,...,...,...,...,...,...,...,...,...
6824,EASY RIDE,Volvo 9600 Multi-Axle A/C Sleeper (2+1),18:45,23:55,05h 10m,INR 1500,22 Seats available,4.7,https://www.redbus.in/bus-tickets/siliguri-to-...,Siliguri to Malda
6825,Greenline,Volvo 9600 Multi-Axle A/C Sleeper (2+1),19:00,23:59,04h 59m,INR 1400,41 Seats available,4.3,https://www.redbus.in/bus-tickets/siliguri-to-...,Siliguri to Malda
6826,Shyamoli Paribahan Pvt Ltd,Volvo 9600 A/C Seater/Sleeper (2+1),19:30,01:10,05h 40m,INR 1200,25 Seats available,3.9\n9,https://www.redbus.in/bus-tickets/siliguri-to-...,Siliguri to Malda
6827,SBSTC-KOLKATA - SURI - 16: 30 - (Suri Depot) -...,Non AC Seater (2+3),16:30,21:30,05h 00m,INR 190,52 Seats available,3.6\n10,https://www.redbus.in/bus-tickets/kolkata-to-suri,Kolkata to Suri
6828,SBSTC-KOLKATA - SURI - 18:00 - (Suri Depot) - ...,Non AC Seater (2+3),18:00,23:00,05h 00m,INR 190,52 Seats available,2.8\n26,https://www.redbus.in/bus-tickets/kolkata-to-suri,Kolkata to Suri

In [9]:
FinalRedBus_df.head(5)

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,APSRTC - 9048,Express(Non AC Seater),04:15,08:40,04h 25m,INR 186,45 Seats available,4.2\n65,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Chittoor (Andhra Pradesh)
1,APSRTC - 47021,Express(Non AC Seater),04:30,09:30,05h 00m,INR 186,44 Seats available,4.3\n32,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Chittoor (Andhra Pradesh)
2,APSRTC - 9050,Express(Non AC Seater),04:30,09:00,04h 30m,INR 186,40 Seats available,4.4\n96,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Chittoor (Andhra Pradesh)
3,APSRTC - 47023,Express(Non AC Seater),05:15,10:30,05h 15m,INR 217,45 Seats available,2.6\n7,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Chittoor (Andhra Pradesh)
4,APSRTC - 9042,Express(Non AC Seater),06:45,11:10,04h 25m,INR 186,43 Seats available,4.2\n69,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Chittoor (Andhra Pradesh)

In [10]:
FinalRedBus_df.tail()

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
6824,EASY RIDE,Volvo 9600 Multi-Axle A/C Sleeper (2+1),18:45,23:55,05h 10m,INR 1500,22 Seats available,4.7,https://www.redbus.in/bus-tickets/siliguri-to-...,Siliguri to Malda
6825,Greenline,Volvo 9600 Multi-Axle A/C Sleeper (2+1),19:00,23:59,04h 59m,INR 1400,41 Seats available,4.3,https://www.redbus.in/bus-tickets/siliguri-to-...,Siliguri to Malda
6826,Shyamoli Paribahan Pvt Ltd,Volvo 9600 A/C Seater/Sleeper (2+1),19:30,01:10,05h 40m,INR 1200,25 Seats available,3.9\n9,https://www.redbus.in/bus-tickets/siliguri-to-...,Siliguri to Malda
6827,SBSTC-KOLKATA - SURI - 16: 30 - (Suri Depot) -...,Non AC Seater (2+3),16:30,21:30,05h 00m,INR 190,52 Seats available,3.6\n10,https://www.redbus.in/bus-tickets/kolkata-to-suri,Kolkata to Suri
6828,SBSTC-KOLKATA - SURI - 18:00 - (Suri Depot) - ...,Non AC Seater (2+3),18:00,23:00,05h 00m,INR 190,52 Seats available,2.8\n26,https://www.redbus.in/bus-tickets/kolkata-to-suri,Kolkata to Suri

In [11]:
FinalRedBus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6829 entries, 0 to 6828
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         6829 non-null   object
 1   Bus_type         6829 non-null   object
 2   Start_time       6829 non-null   object
 3   End_time         6829 non-null   object
 4   Total_duration   6829 non-null   object
 5   Price            6829 non-null   object
 6   Seats_Available  6829 non-null   object
 7   Ratings          6829 non-null   object
 8   Route_link       6829 non-null   object
 9   Route_name       6829 non-null   object
dtypes: object(10)
memory usage: 533.6+ KB

In [12]:
FinalRedBus_df.shape

(6829, 10)

In [13]:
FinalRedBus_df.dtypes

Bus_name           object
Bus_type           object
Start_time         object
End_time           object
Total_duration     object
Price              object
Seats_Available    object
Ratings            object
Route_link         object
Route_name         object
dtype: object

In [14]:
#convert prices to numeric
FinalRedBus_df["Price"]=FinalRedBus_df["Price"].str.replace("INR","")
FinalRedBus_df["Price"]=FinalRedBus_df["Price"].astype(float)
FinalRedBus_df["Price"].fillna(0)

0        186.0
1        186.0
2        186.0
3        217.0
4        186.0
         ...
6824    1500.0
6825    1400.0
6826    1200.0
6827     190.0
6828     190.0
Name: Price, Length: 6829, dtype: float64

In [15]:
abc=FinalRedBus_df.mode()['Ratings']
abc
FinalRedBus_df["Ratings"]=FinalRedBus_df["Ratings"].str.replace("New",str(abc))

In [16]:
FinalRedBus_df.to_csv(r"C:\Users\ASUS\OneDrive\Desktop\redbus.project\FinalRedBus_df.csv")

# SQL Connection

In [17]:
# Establish connection to MySQL
myconnection = pymysql.connect(host='localhost', user='root', password='root', database='REDBUS_DETAILS')
my_cursor = myconnection.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

1

In [18]:
with myconnection:
     my_cursor = myconnection.cursor()
     my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")
     # Table Creation
     my_cursor.execute('''CREATE TABLE IF NOT EXISTS redbus_complete_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
     
     # SQL query to insert data into bus_details table
     insert_query = '''INSERT INTO redbus_complete_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
     data = FinalRedBus_df.values.tolist()

     my_cursor.executemany(insert_query, data)

     myconnection.commit()

print("Values inserted successfully")

Values inserted successfully

# Alternate way to insert the data in sql

In [2]:
engine=create_engine('mysql+pymysql://root:root@127.0.0.1:3306/REDBUS_DETAILS')
my_cursor=engine.connect()
data=pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\redbus.project\FinalRedBus_df.csv") 
data.to_sql('redbus_complete_details',engine,index=False, if_exists='replace')

6829